body{
    text-align: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: black;
}

section{
    position: relative;
    width: 570px;
    margin: auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 10px;
    padding: 10px 20px;
}

.box{
    display: flex;
    padding: 20px;
    font-size: 20px;
    background-color: #030303;
    width: 40px;

}

#val7,#val8{
    background-color: #030303;
}

#val6{
    position: absolute;
    right: 0;
}
#container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#btn{
    width: 70px;
    height: 40px;
    font-size: 14px;
    background-color: #09f109;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 10px;
    border-color: transparent;

}
#btn1{
    width: 70px;
    height: 40px;
    font-size: 14px;
    background-color: rgb(246, 2, 43);
    border-radius: 10px;
    font-weight: bold;
    border-color: transparent;


}